<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>OCR Web</title>

    <link rel="shortcut icon" href="icon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.min.css">
    <link type="text/css" rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!--Local links-->
    <style>
        body {
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            background-color: #170f2f;
            color: bisque;
            /* Full height */
            height: 100%;
        }

        a {
            color: #00B7FF;
        }

        .btn-file {
            cursor: pointer;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            display: block;
        }

        .box {
            border: solid #7f8049 3px;
            height: 100%;
            max-width: 95%;
        }

        #rcorners1 {
            border-radius: 25px;
            border: 2px solid rgb(255, 165, 0);
            padding: 20px;
            width: 100%;
            height: 100%;
            font-size: x-large;
        }


        .mini-footer {
            background: #192027;
            text-align: center;
            padding: 32px 0
        }

        .mini-footer p {
            margin: 0;
            line-height: 26px;
            font-size: 15px;
            color: #999
        }

        .mini-footer p a {
            color: #5867dd
        }

        .mini-footer p a:hover {
            color: #34bfa3
        }
    </style>

</head>

<body ng-controller="ctrl">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <i class="fa fa-search faa-pulse animated"></i> <span style="color: orange; font-weight: 500;">OCR</span>
            Web
        </a>
    </nav>
    <div class="container" style="padding-top: 50px;">
        <p id="rcorners1">This is a web app which uses the Tesseract API for <span style="color: orange;">Optical Image Recognition</span>. Tesseract.js is
            a pure Javascript port of the popular Tesseract OCR engine.
            <br>
            <br>
            This library supports more than 100 languages, automatic text orientation and script detection, a simple
            interface for reading paragraph, word, and character bounding boxes. Tesseract.js can run either in a
            browser and on a server with NodeJS.
            <br>
            <br>
            <strong>Choose an <span style="color: orange;">image</span> text file and see the output!</strong>
        </p>
        <hr>
        <div style="padding-bottom: 100px;">
            <!-- <p>This is an OCR app</p></div>-->
            <label style="font-size: large;">Upload Image</label>
            <div class="text-center">
                <div class="form-group " style="width:109%">

                    <div class="">
                        <form action="/upload" method="POST" enctype="multipart/form-data" target="frame">
                            <div class="input-group col-md-10 col-sm-10">
                                <input type="file" name="avatar" />
                                <button class="btn btn-success" type="submit">Convert
                                    <i class="fa fa-upload faa-float animated"></i> </button>
                            </div>
                        </form>
                        <!-- <h1>Image to PDF</h1>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <input type="file" name="avatar" />
                            <button type="submit">Convert</button>
                        </form> -->

                    </div>

                    <hr>

                    <div class="row" style="padding-right : 15px;">
                        <div class="col-md-6 col-sm-12">
                            <br><br>
                            <!--Display uploaded image-->
                            <img id='img-upload' class="img-rounded box"
                                src="https://thumbs.gfycat.com/PreciousTidyJunebug-small.gif" />
                        </div>
                        <div class="col-md-6 col-sm-12" style="padding-top: 10px;"><br><br>
                            <!--MultiPart FormData response stored here-->
                            <iframe id="frame" name="frame" class="iframe well box" height="500px"
                                style="font-family: 'Times New Roman', Times, serif; background-color: white;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p class="love">Made with <i class="fa fa-heart"></i> by <span style="color: orange;">Vishal</span></p>
                    </div>

                    <div class="go_top">
                        <span class="icon-arrow-up"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>